h2 {
  margin-top: 0;
}

button {
  background: white;
  color: #334;
  border-radius: 4px;
  margin: 0 4px;
}

.dark-mode button {
  /*background: #222;*/
  background: #6ec5ba;
  /*color: #eee;*/
  color: #000;
}

/*dark mode*/
.dark-mode body {
  background: #333;
  color: white;
}

.dark-mode label {
  color: #bbb;
}

.dark-mode label {
  color: #bbb;
}
label {
  color: #222;
  font-size: 12px;
}

select {
  background: white;
  color: #334;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.dark-mode select {
  background: #222;
  color: #eee;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.App_table_actions {
  display: flex;
}
.App_table_action_item {
}

.App_columns {
  display: flex;
  height: 400px;
}

.App_column_outer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.App_column_inner {
  flex: 1;
  padding: 8px;
  height: 300px;
}
.App_receive_group_actions,
.App_receive_group_filename {
  word-break: normal;
  margin: 8px 0;
}
.App_receive_group_actions button {
  margin: 0 2px;
}

.App_receive_actions {
  word-break: normal;
}

.App_receive_name {
  word-break: normal;
}

.App_libary_table.Table_col_1 {
  width: 180px; /*type*/
}
.App_libary_table.Table_col_2 {
  width: 50px; /*msgs*/
}

.App_libary_table.Table_col_3 {
  width: 80px; /*bytes*/
}

.App_libary_table.Table_col_4 {
  width: 180px; /*added*/
}
.App_libary_table.Table_col_5 {
  width: 280px; /*actions*/
}
@media only screen and (max-width: 1024px) {
  .App_columns {
    display: block;
    height: initial;
  }
  .App_column_outer {
    width: initial;
  }
}
