h1,
h2,
h3,
h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: normal;
}

button {
  background: #666;
  color: #fff;
  border-radius: 1px;
  line-height: 2em;
  border: 0;
  margin: 0 4px;
  cursor: pointer;
}

.dark-mode button {
  /*background: #222;*/
  background: #6ec5ba;
  /*color: #eee;*/
  color: #000;
}

/*dark mode*/
.dark-mode body {
  background: #333;
  color: white;
}

.dark-mode label {
  color: #fff;
}

.dark-mode label {
  color: #fff;
}
label {
  color: #222;
}

select {
  background: white;
  color: #334;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.border-thin {
  border: solid 1px black;
}

.dark-mode .border-thin {
  border: solid 1px #5592d9;
}

.dark-mode select {
  background: #222;
  color: #eee;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.App_table_actions {
  display: flex;
}
.App_table_action_item {
}

.App_columns {
  display: flex;
  height: 400px;
}

.App_column_outer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.App_column_inner {
  flex: 1;
  padding: 8px;
  height: 300px;
}
.App_receive_group_actions,
.App_receive_group_filename {
  word-break: normal;
  margin: 8px 0;
}
.App_receive_group_actions button {
  margin: 0 2px;
}

.App_receive_actions {
  word-break: normal;
}

.App_receive_name {
  word-break: normal;
}

.App_libary_table.Table_col_1 {
  width: 180px; /*type*/
}
.App_libary_table.Table_col_2 {
  width: 50px; /*msgs*/
}

.App_libary_table.Table_col_3 {
  width: 80px; /*bytes*/
}

.App_libary_table.Table_col_4 {
  width: 180px; /*added*/
}
.App_libary_table.Table_col_5 {
  width: 280px; /*actions*/
}
@media only screen and (max-width: 1024px) {
  .App_columns {
    display: block;
    height: initial;
  }
  .App_column_outer {
    width: initial;
  }
}
.Modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.dark-mode .Modal {
  position: absolute;
  inset: 40px;
  border: 1px solid #fff;
  background: #333;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.Modal_overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.dark-mode .Modal_overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.FileDropzone {
  border: dashed 3px #ccc;
}

.dark-mode .FileDropzone {
  border: dashed 3px #d66257;
}
.App_error {
  background-color: red;
  color: white;
  padding: 16px;
}

.dark-mode .App_error {
  background-color: #d66257;
}
