.Logo .whitestroke {
  stroke: #000;
}
.Logo .whitefill {
  fill: #000;
}
.dark-mode .Logo .whitestroke {
  stroke: #fff;
}
.dark-mode .Logo .whitefill {
  fill: #fff;
}
.Logo {
  transform: translateX(20px) scale(1.1, 0.7);
  margin-top: -50px;
  margin-bottom: -45px;
}
