.Table {
  width: 100%;
  background-color: #ccc;
  border: none;
  text-align: left;
}
.Table thead th {
  font-weight: initial;
  padding: 2px 4px;
}

.Table_odd {
  background-color: #aaa;
}
.Table td {
  padding: 2px 4px;
}
