.Table {
  width: 100%;
  background-color: #eee;
  border: none;
  text-align: left;

  word-break: break-all;
}
.Table thead th {
  padding: 2px 4px;
}

.Table_odd {
  background-color: #ccc;
}
.Table td {
  padding: 2px 4px;
}

@media only screen and (max-width: 1024px) {
  .Table thead {
    display: none;
  }
  .Table,
  .Table tbody,
  .Table td,
  .Table th,
  .Table tr {
    display: block;
    width: 100% !important;
  }
  .Table tr {
    padding: 8px;
  }
}
